
/* background */
.topnav {
  background-color: #118ab2;
  overflow: hidden;
}

/* style the links */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 18px 150px;
  text-decoration: none;
  font-size: 17px;
}

/* color on hover */
.topnav a:hover {
  background-color: #58c47e;
  color: black;
}

/* color of current link */
.topnav a.active {
  background-color: #2d3e8b;
  color: rgb(255, 255, 255);
}

  body {
    background-color: #00bf63;
  }
  
/*h1 font and size*/
.WSC {
font-family: gill 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  padding-left: 150px;
  padding-top: 10px;
}
.WSCw {
  font-family: gill 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  padding-left: 150px;
}
/*text below title home page*/
.entext {
  color: white;
  font-size: 50px;
  padding-left: 100px;
}
.entext2 {
  color: white;
  font-size: 50px;
  padding-left: 180px;
}
.entext3 {
  color: white;
  font-size: 50px;
  padding-left: 160px;
}