
/* background */
.topnav {
  background-color: #118ab2;
  overflow: hidden;
}

/* style the links */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 18px 150px;
  text-decoration: none;
  font-size: 17px;
}

/* color on hover */
.topnav a:hover {
  background-color: #58c47e;
  color: black;
}

/* color of current link */
.topnav a.active {
  background-color: #2d3e8b;
  color: rgb(255, 255, 255);
}

  body {
    background-color: #00bf63;
  }
  
/*h1 font and size*/
.WSC {
font-family: gill 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  padding-left: 150px;
  padding-top: 100px;
  line-height: 0px;
}
.WSCw {
  font-family: gill 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  padding-left: 150px;
  line-height: 0px;
}
/*text below title home page*/
.entext {
  color: white;
  font-size: 50px;
  padding-left: 40px;
}
/*
.entext2 {
  color: white;
  font-size: 50px;
}
.entext3 {
  color: white;
  font-size: 50px;
}
*/
/*image slider */
  .container {
    padding: 2rem;
    padding-left: 25%;
    
  }
  
  .slider-wrapper {
    position: relative;
    width: 40rem;
    margin: 0, auto;
    overflow: hidden;
  }

  /* how it work*/
  .slider {
    display: flex;
    aspect-ratio: 20/13;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    animation: slide 8s infinite;
  }

@keyframes slide{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(0);
  }
  55%{
    transform: translateX(-100);
  }
  100%{
    transform: translateX(-100);
  }
}

  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }

  .slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }
/* position of dots */
  .slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
/* dots under imgae slider looks */
  .slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }
/* dots on hover */
  .slider-nav a:hover {
    opacity: 1;
  }

  #Home-Page-Bg {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
  }

.text-and-image {
  display: flex;

}

/* page 2 heading size (wsc sport page)*/
.sport{
  color: white;
  font-size: 75px;
  padding-left: 35%;
}

.summersport{
  font-size: 40px;
  padding-left: 300px;
  color: white;
}

.sport1{
  font-size: 20px;
  color: white;
  font: bold;
  display: flex;
  padding-left: 400px;
  padding-right: 100px;

}
.sport2{
  padding-left: 400px;
  
}

.titttle{
  display: flex;
}
.winter{
  font-size: 40px;
  padding-left: 60px;
  color: white;
}

.sportbackground{
  background-image: url(sportbackgroundgood.jpg);
  background-repeat: no-repeat;
  background-size: cover

}


.timetableimg1{
  display: flex;
  object-fit: cover;
  margin-bottom: 10px;
}

.timetableimg2{
  display: flex;
  margin-bottom: 10px;
}

.timetableimg3{
  display: flex;
}

.back{
  background-color: black;
}

.st{
  font-size: 100px;
  padding-left: 30%;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.line1{
  font-size: 40px;
  color: white;
  display: flex;
  padding-left: 200px;
}
.pad{
  padding-left: 110px;

}

.pad1{
  padding-left: 200px;
}

.row2{
  font-size: 30px;
  padding-left: 150px;
  display: flex;
}
.imgg{
  padding-left: 400px;
}
.fullrules{
  padding-left: 150px;
}